* {
    box-sizing:border-box;
}

body {
    margin:0;
    height:100%;
    background:linear-gradient(teal, white);
    border:10px solid black;
}

.header {
    position:absolute;
    display:flex;
    top:0;
    height:7.5vh;
    padding-left:40vw;
    background-color:black;
    color:white;
    width:100%;
}

.nav {
    font-size:1.5em;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration:underline;
    background-color:teal;
    position:relative;
    padding:2vh;
    text-align:center;
    width:20vw;
    border:1px solid black;
}

.nav:first-of-type {
    padding-left: 60px;
}

.nav:first-of-type:before {
    content: '';
    position: absolute;
    top: 0; 
    left:0;
    background:linear-gradient(135deg, black 0%, black 50%, teal 50%, teal 100%);
    width: 100px;
    height:100%;
}

a {
    text-decoration:none;
    color:white;
    transition-timing-function:ease-in-out;
}


.about {
    display:grid;
    margin-top: 7.5vh;
    justify-content:center;
    align-items:center;
    text-align:center;
    grid-template-columns: 1fr;
}

.about img {
    margin-top:10px;
    width: 300px;
    height:400px;
    object-fit:cover;
    border-radius:10%;
}


.about_section_header {
    border-bottom:10px solid;
    font-family:Arial, Helvetica, sans-serif;
    font-size:5em;
    font-weight:bold;
}

.about_section {
    margin:20px auto;
    font-size:1.5em;
    font-family:Arial, Helvetica, sans-serif;
    width:50%;
}

.skills {
    display:grid;
    justify-content:center;
    align-items:center;
    text-align:center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.skill_section_header {
    grid-column:1/6;
    border-bottom:10px solid;
    font-family:Arial, Helvetica, sans-serif;
    font-size:5em;
    font-weight:bold;
}

.skills img {
    padding:50px 0;
    width: 100%;
    height:400px;
    object-fit:fill;
}

.contact {
    display:grid;
    justify-content:center;
    align-items:center;
    text-align:center;
    grid-template-columns: 1fr;
}

.contact_section_header {
    font-family:Arial, Helvetica, sans-serif;
    font-size:5em;
    font-weight:bold;
    border-bottom:10px solid;
}

.contact_section {
    width:50%;
    margin:100px auto;
    padding:100px;
    border:20px solid black;
    background-color:teal;
    color:white;
}

li {
    padding:30px 0;
    font-size:1.5em;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    list-style-type: none;
}

.contact a {
    font-style:italic;
    text-decoration:underline;
    color:white;
}